*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#MAINDIV{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-image: url(/Textures/ConcreteFloor.png);
    align-items: center;
}
#TABLE{
    scale: 100%;
    display: flex;
    position: relative;
    border: none;
    background-image: url(/Textures/old\ \ Plywood.png);
    height: 20rem;
    width: 20rem;
    border-radius: 20rem;
    box-shadow: 0px 0px 15px 5px rgb(32, 32, 32);
    transition: all 0.1s;
}
@media screen and (max-width: 650px){
    #TABLE{
        scale: 50%;
    }
}
.BOWL{
    border: 1px solid black;
    position: relative;
    background-image: url(/Textures/FabricPattern1.png);
    background-size: cover;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}
.chair{
    height: 4rem;
    width: 4rem;
    background-image: url(/TEXt/interior\ free.png);
    background-position-x: center;
    background-position-y: top;
    background-size: 25rem;
}
.FORK{
    position: relative;
    z-index: 12;
    background-image: url(/Textures/spoon.png);
    width: 128px;
    height: 128px;
    scale: 45%;
}
#GUY1{
    background-image: url(hat-man-idle-1.png);
    height: 52px;
    width: 39px;
    scale: 200%;
}